@model BusinessLogic.ViewModels.BookTicketViewModel

@{
    ViewData["Title"] = "Book Ticket";
}

<div class="container mt-5" style="min-height: 2000px;">
    <h1 class="display-4">Book Ticket</h1>

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }

    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }

    <form method="post" asp-action="Book" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" asp-for="row" id="selectedRow" class="form-control" required />
        </div>

        <div class="form-group">
            <input type="hidden" asp-for="column" id="selectedColumn" class="form-control" required />
        </div>

        <div class="form-group" style="width: 50%; float: left;">
            <label>Select Seat:</label>

            <div class="text-center mt-3">
                <table class="table table-bordered text-center" style="width: 500px">
                    <tbody>
                        @for (int i = 1; i <= Model.FlightVM.rows; i++)
                        {
                            <tr>
                                @for (int j = 1; j <= Model.FlightVM.columns; j++)
                                {
                                    var seatId = $"{i}-{j}";
                                    <td style="width: 30px; height: 30px;">
                                        <button type="button" class="btn btn-sm btn-outline-primary seat" style="padding: 1; font-size: 12px;" data-seat="@seatId">@seatId</button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <input type="hidden" id="selectedSeat" name="column" required />
            <input type="hidden" asp-for="flightId" class="form-control" required />
        </div>
        <div style="width: 50%; float: right;">
            <div class="form-group">
                <label for="passport">Passport:</label>
                <input type="text" id="passport" name="passport" value="@Model.passport" class="form-control" required />
                <span asp-validation-for="passport" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="passportPhotoPath">Passport Photo</label>
                <input type="file" name="file" class="form-control" required />
            </div>

            <div class="form-group">
                <label asp-for="pricePaid">Price</label>
                <input asp-for="pricePaid" class="form-control" value="@Model.FlightVM.price" readonly required />
            </div>
            @if ((Model.FlightVM.seatsLeft>0)&&(Model.FlightVM.departureDateTime>=DateTime.Now))
            {
               <button type="submit" class="btn btn-primary" style="margin-top: 10px">Book Ticket</button>
            }
            @if (ViewBag.User == null)
            {
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login to autofill details</a>
            }
        </div>
    </form>



    <script>
        document.querySelectorAll('.seat').forEach(function (seatButton) {
            seatButton.addEventListener('click', function () {
                var selectedSeat = this.getAttribute('data-seat');
                document.getElementById('selectedSeat').value = selectedSeat;

                var parts = selectedSeat.split('-');
                document.getElementById('selectedRow').value = parts[0];
                document.getElementById('selectedColumn').value = parts[1];

                document.querySelectorAll('.seat').forEach(function (btn) {
                    btn.classList.remove('btn-primary');
                });

                this.classList.add('btn-primary');
            });
        });
    </script>
    <div>


    </div>
</div>
