@model IEnumerable<BusinessLogic.ViewModels.FlightViewModel>
@using System.Globalization;


@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <h1 class="display-4">Flights</h1>

    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Departure Date</th>
                     <th>Remaining Seats</th>
                     <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flight in Model.Where(f => f.departureDateTime >= DateTime.Now)) //filter out flights that passed
                {
                    <tr>
                        <td>@Html.DisplayFor(modelFlight => flight.countryFrom)</td>
                        <td>@Html.DisplayFor(modelFlight => flight.countryTo)</td>
                        <td>@flight.departureDateTime.ToString()</td>
                        <td>@Html.DisplayFor(modelFlight => flight.seatsLeft)</td>
                        <td>@string.Format("€{0:N2}", flight.price)</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" onclick="location.href='@Url.Action("Details", "Flight", new { id = flight.Id })'" @(flight.seatsLeft > 0 ? "" : "disabled")>Details</button>
                        </td>
                        @if (ViewBag.Admin)
                        {
                            <td>
                                <a class="btn btn-info btn-sm" href="@Url.Action("Tickets", "Admin", new { flightId = flight.Id })">Bookings</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No flights available.</p>
    }
</div>
